node_modules
.pnpm-store
apps/*/node_modules
apps/*/dist
apps/*/.env
apps/*/.env.*
!apps/*/.env.example
infrastructures/*/node_modules
infrastructures/*/dist
infrastructures/*/.env
infrastructures/*/.env.*
!infrastructures/*/.env.example
packages/*/node_modules
packages/*/dist
packages/*/.env
packages/*/.env.*
!packages/*/.env.example
.DS_Store
