node_modules
.pnpm-store
apps/*/node_modules
apps/*/dist
apps/*/.env
apps/*/.env.*
infrastructures/*/node_modules
infrastructures/*/dist
infrastructures/*/.env
infrastructures/*/.env.*
packages/*/node_modules
packages/*/dist
packages/*/.env
packages/*/.env.*
.DS_Store
